<h1 class="page_header">Search Help</h1>
<p class="explanatory_header">
	Simple Search
</p>
<p class="explanatory_text">The easiest way to search is by using the search box on the home page. Type in any words you want, then click the Search button. 
	This will take you to new page with a list of students and objects that match those words. On that results page, you will see a search box with your query filled in.
You may change that query and click Search again if you don't get the results you are looking for.</p>
<p class="explanatory_header">
	Browse
</p>
<p class="explanatory_text">
	"Browse the Ledger" is also another easy way to find records. This will take you to a number of pages where you can view all the students and objects in the ledger.
	Explore this area by clicking on the category links until you see a list of students or objects. You can click on a student or object to get
	detailed information.
</p>
<p class="explanatory_header">
	Advanced Search
</p>
<p class="explanatory_text">
	If you can't find the student or object you are looking for using the above two methods, there is also an advanced search page that you can reach by clicking "Search the Ledger".
	This allows you to make more specific queries if the search on the home
	page gives you too many results. (First try adding keywords to the regular search to see if you get few enough results to look through before using this page.)
	The "Keywords" box is just like the search on the home page. It will search for those words anywhere in the student records. The other items only search on
	one particular field.
</p>
<p class="explanatory_text">
	After doing an advanced search, you will notice that the query in the result page is more complicated. If the search you did wasn't satisfactory,
	you can tweak this query and click "Search" just as you did for the simple search. The search contains of a field name, followed by a colon, followed by
	a search value. Each of these is separated by the word AND or OR. Do an advanced search with the dialog first to see what the format should look like,
	then modify it a little to adjust the results.
</p>
