<h1 class="page_header">Why only immediate family?</h1>

<p class="explanatory_text">
In addition to the individual pages created for the students and instructors of the Litchfield Law School and Litchfield Female Academy, pages are also created for their parents
and for any siblings who attended the school. While some genealogical research has been done for many of the students, including a record for their ancestors or links to cousins, aunts, uncles, etc.
on the database would make it unwieldy and the job of collecting data impossible. If you are looking for genealogical information regarding a particular student, please contact the Historical Society.
Staff will be happy to share any other information collected about the students. Currently, parent pages contain very little data. As more information becomes available it will be added to their biographies.
Please contact us if you have more information about students or parents that you would like to share.
</p>
