<%#
# ------------------------------------------------------------------------
#     Copyright 2010 Litchfield Historical Society
# ----------------------------------------------------------------------------
%>
<%# sign_in: no params %>
<div class="sign_in">
	<div class="sign_in_logo"><%= image_tag('sign_in_logo.png') %></div>
 To enter the administration section, please <%= link_to "sign in", sign_in_path %>
</div>