.yui3-overlay-content {
	padding:5px;
	background-color:#ccc;
	border:1px solid #000;
}

.yui3-overlay .yui3-widget-hd,
.yui3-overlay .yui3-widget-bd,
.yui3-overlay .yui3-widget-ft {
	background-color:#eee;
	padding:2px;
	border:1px solid #999;
	text-align:left;
}

.yui3-overlay .yui3-widget-bd {
	background-color:#fff;
	text-align:center;
	vertical-align:middle;
}

.yui3-overlay .yui3-widget-bd .yui3-feed-data {
	text-align:left;
}

.yui3-overlay .yui3-feed-selector .yui3-prompt {
	font-weight:bold;
}

.yui3-widget-loading .yui3-widget-bd {
	background: #fff url(/ledger/images/yui3.3.0/ajax-loader.gif) no-repeat center center;
	height:40px;
}

