	<h1 class="page_header">Litchfield Law School History</h1>
<p class="explanatory_text">
The Litchfield Law School was founded in 1784, the first formal school of training for the legal profession in the United States.  The school continued until 1833, training more than 1,000 men from throughout the country who went on to have an amazing influence on political, economic and legal developments of the ante-bellum period.
</p>
<p class="explanatory_text">
Tapping Reeve, the founder of the Litchfield Law School, was born in 1744, son of the Rev. Abner Reeve, a Presbyterian minister who had graduated from Yale in 1731, and his wife, Deborah Tapping Reeve.   Reeve attended the College of New Jersey, later Princeton, graduating in 1763. He remained in Elizabethtown to teach at a grammar school associated with the college.  Reeve then tutored at Princeton and was hired to privately teach the orphaned children of the Rev. Aaron Burr, Sr., the former President of the college, and his wife Esther Edwards Burr.  Tapping Reeve taught young Aaron Burr and his sister Sally for several years.  By 1771 Reeve had moved to Hartford, Connecticut, where he studied law with Judge Jesse Root, passing the bar there in 1772.
</p>
<p class="explanatory_text">
Reeve moved to Litchfield the same year and established a practice, marrying his former pupil Sally Burr.  In 1774 his brother-in-law, Aaron Burr, left his ministerial studies with the Reverend Joseph Bellamy for the ministry and moved to Litchfield to study the law with Reeve.  Burr left a year later to join the Continental Army on the outbreak of the Revolutionary War, but Reeve continued to take law students.  In the early years Reeve continued the clerking or apprenticeship system of having the young men work for him while they studied his law books.  He also presented talks on the principles of law.  In 1784, as the number of young men in his office increased following the close of the Revolution, Reeve built a small building next to his house where he gave his lectures.  He based them upon Blackstone’s Commentaries, which he refined into a 14 month-long course of study. The curriculum covered all areas of legal practice, noting developing changes in the new nation’s adaptation of British Common Law. Students took rough notes during the lectures, copying them carefully after checking citations, which were put in the margins.  Many students had their notes carefully bound into leather volumes, which became important reference works for them in their future practice.
</p>
<p class="explanatory_text">
Reeve was the sole proprietor of the school until 1798, when he was elected to the Supreme Court.  At that point, he hired James Gould, a former student, as a partner.  Gould built his own small lecture room next to his home on North Street and men attended lectures there as well as at Reeve’s.  Both men lectured to the students until Reeve’s retirement in 1820, after which Gould continued the school on his own until retiring in 1833.
</p>
<p class="explanatory_text">
The Litchfield Law School was the first formal school of law in the United States offering a vocational curriculum for future attorneys.   William and Mary College in Virginia offered lectures on the law, but they provided a brief introduction to the law believed to be a part of a “liberal education” for the gentleman scholars who would later assume political responsibilities.
</p>
<p class="explanatory_text">
The Litchfield Law School was never chartered by the state, remaining a proprietary effort of Reeve and Gould.  It therefore never offered degrees as a credential.   At the conclusion of their studies, many of the students took the Bar exam in Litchfield, even though they would be required to clerk in the office of a lawyer on returning to their homes and take the local Bar exam.  The students would also obtain letters of reference from Reeve or Gould, stating their attendance and completion of the Litchfield course of lectures.  In the apprenticeship tradition, these letters usually attested to the young man having “read law” with Reeve or Gould.
</p>
<p class="explanatory_text">
The Litchfield Law School was unique among the proprietary law schools of the period in that its students came from every part of the United States.  Only one third of the students enrolled from Connecticut and one quarter from the adjacent states of New York and Massachusetts.  A fifth of the students were from southern states, including 60 from Georgia, 40 from South Carolina and 21 from North Carolina.  The Litchfield Law School had no educational entrance requirements. Two-thirds of the known students had attended college, with one quarter of them being Yale graduates.  In the tradition of apprenticeship training, the school also admitted non-college men from a variety of socio-economic backgrounds.
</p>
<p class="explanatory_text">
Between 1774 and 1833, 945 young men who attended the school have been identified. An additional 200 or more men are believed to have attended the school in the early years when no lists of students were kept.  The number of students was notable, given that in 1800 there were only 100 practicing lawyers in the state of Connecticut.  Peak enrollment at the school was reached in 1813, when 55 men attended.
</p>
<p class="explanatory_text">
The Litchfield Law School’s greatest influence was in shaping future legal education in the United States.  Reeve distinguished the study of the law as based upon general principles and methods, and upon a national level, not as they pertained to specific states. The school established the formal study of law as graduate education, distinct from an undergraduate curriculum.  However,  the more practical or clinical aspects of learning the law was left to further apprenticeship.
</p>
<p class="explanatory_text">
The primary reason for the end of the Litchfield Law School was competition from new courses at Yale, Harvard, Columbia, the University of Virginia and other university law schools.  Equally important was the boom in legal publishing by 1830, which made the lecture model obsolete.  The new law schools replaced the lecture method with text reading and recitations and, much later, with the case method.  The growth in legal theory and practice made it impossible to be covered by one person in a 14 month series of lectures. Other factors which kept the school from flourishing in the 1830s were the inability of a proprietary institution to attract philanthropy to endow facilities, libraries and faculty, as well as the general decline of Litchfield as an intellectual, economic and cultural center.
</p>
<p class="explanatory_text">
Alumni settled in 34 states and three territories, where many served as legal and political reporters, clerks of courts and legislatures.  Others published legal texts and treatises.
</p>
<p class="explanatory_text">
Litchfield trained lawyers were instrumental in developing laws to deal with the economic and industrial boom of the nineteenth century.  Each new technological advance created a need for new laws, while the growth of corporate law greatly increased the importance of lawyers in the economy.
</p>
<p class="explanatory_text">
The influence of Litchfield Law School students on American politics is largely unknown.  Ninety-seven students, more than 10%, later served in the United States House of Representatives and 28 were United States Senators.  These alumni played major roles in every important national political issue of the pre-Civil War period.  At the state level, 15 alumni were elected governors of states and territories.  Large numbers served as state senators and representatives and many were city and county office holders.  Others became prominent in fields such as education, religion and the arts.  The influence of alumni of the Litchfield Law School as individuals is well known.  Their collective influence and the impact of their experiences at the school have yet to be analyzed.
</p>
