<h1 class="page_header">LFA Bibliography</h1>
<p class="explanatory_text">
Atwood, Barbara P. "Miss Pierce of Litchfield."  <span class="book_title">New England Galaxy</span> 9 (1967): 32-40.
</p>
<p class="explanatory_text">
Blauvelt, Martha Tomhave. <span class="book_title">The Work of the Heart: Young Women and Emotion, 1780-1830.</span> Charlottesville, VA: University of Virginia Press, 2007.
</p>
<p class="explanatory_text">
Brickley, Lynne Templeton. <span class="book_title">Sarah Pierce's Litchfield Female Academy, 1792-1833.</span> Ph.D. diss., Harvard University, 1985.
</p>
<p class="explanatory_text">
Litchfield Historical Society. <span class="book_title">To Ornament Their Minds: Sarah Pierce's Litchfield Female Academy, 1792-1833.</span> Litchfield, CT: Litchfield Historical Society, 1993.
</p>
<p class="explanatory_text">
Loto, Judith Livingston. "One Voice: The Work and Words of Litchfield Female Academy Student Charlotte Hopper Newcomb, 1809-1810." <span class="book_title">Dublin Seminar for New England Folklife Annual Proceedings</span> 27 (July 2002): 65-77.
</p>
<p class="explanatory_text">
Pichnarcik, Lisa Roberge. "On the Threshold of Improvement: Women's Education at the Litchfield Female and Morris Academies." <span class="book_title">Connecticut History</span> 27 (Sept 1996): 129-158.
</p>
<p class="explanatory_text">
Pichnarcik, Lisa Roberge. <span class="book_title">The Role of Books in Connecticut Women's Education in the New Republic: As Examined in Sarah Pierce's Litchfield Female Academy and James Morris' Coeducational Academy.</span> Master's thesis, Southern Connecticut State University, 1996.
</p>
<p class="explanatory_text">
Vanderpoel, Emily Noyes. <span class="book_title">Chronicles of a Pioneer School from 1792 to 1833, Being the History of Miss Sarah Pierce and her Litchfield School.</span> Cambridge, MA: University Press, 1903.
</p>
<p class="explanatory_text">
Vanderpoel, Emily Noyes. <span class="book_title">More Chronicles of a Pioneer School from 1792 to 1833: Being Added History on the Litchfield Female Academy kept by Miss Sarah Pierce and her Nephew John Pierce Brace.</span> New York City: The Cadmus Book Shop, 1927.
</p>
<p class="explanatory_text">
	Von Frank, Albert J. "Sarah Pierce and the Poetic Origins of Utopian Feminism in America." <span class="book_title">Prospects</span> 14 (Oct 1989): 45-63.
</p>
