<h1 class="page_header">LLS Bibliography</h1>
<p class="explanatory_text">
	Baldwin, Simeon Eben. <span class="book_title">James Gould: A Sketch.</span> Philadelphia: John C. Winston Co., 1909.
</p>
<p class="explanatory_text">
Beecher, Lyman. <span class="book_title">A Sermon Preached at the Funeral of the Hon. Tapping Reeve: Late Chief Justice of the State of Connecticut, who Died December Thirteen, Eighteen Hundred and Twenty-Three, in the Eightieth Year of His Age, with Explanatory Notes.</span> Litchfield, CT:  S.S. Smith, 1827.
</p>
<p class="explanatory_text">
Blondel-Libardi, Catherine, "Rediscovering the Litchfield Law School Notebooks," <span class="book_title">Connecticut History</span> 46 (Spring 2007): 70-82.
</p>
<p class="explanatory_text">
Calder, Jacqueline. 1978. <span class="book_title">Life and Times of Tapping Reeve and his Law School.</span> Typescript.
</p>
<p class="explanatory_text">
Collier, Christopher. "Tapping Reeve, The Connecticut Common Law, and America's First Law School." <span class="book_title">Connecticut Supreme Court History</span> 1 (2006): 13-25.
</p>
<p class="explanatory_text">
Farnham, Thomas J. "Tapping Reeve and America's First Law School." <span class="book_title">New England Galaxy</span> 17 (1975): 3-13.
</p>
<p class="explanatory_text">
Fisher, Samuel H. <span class="book_title">The Litchfield Law School: Address by Samuel Fisher.</span> Litchfield, CT: Litchfield Enquirer Press, 1930.
</p>
<p class="explanatory_text">
Fisher, Smauel H. <span class="book_title">Litchfield Law School, 1774-1833: A Biographical Catalogue of Students.</span> New Haven, CT: Yale University Press, 1946.
</p>
<p class="explanatory_text">
Halow, D. Brooke. <span class="book_title">Litchfield's Legacy in Law: A Study of the Litchfield Law School's Influence on Legal Training in America, 1784-1833.</span> American Studies 493, Yale University Law School, 1996.
</p>
<p class="explanatory_text">
Kilbourn, Dwight C. <span class="book_title">The Bench and Bar of Litchfield County, Connecticut, 1709-1909: Biographical Sketches of Members, History and Catalogue of the Litchfield Law School, Historical Notes.</span> Litchfield, CT: Self Published, 1909.
</p>
<p class="explanatory_text">
Kronman, Anthony, ed. <span class="book_title">History of the Yale Law School.</span> New Haven, CT: Yale University Press, 2004.
</p>
<p class="explanatory_text">
Litchfield Historical Society. <span class="book_title">The Litchfield Law School, Litchfield, Connecticut: A Brief Historical Sketch.</span> Litchfield,CT: Litchfield Historical Society, 1952.
</p>
<p class="explanatory_text">
Litchfield Historical Society. <span class="book_title">Presentation of the Reeve Law School building to the Litchfield Historical Society at Litchfield, Conn., August 22d, 1911.</span> Litchfield, CT: Litchfield Enquirer Press, 1911.
</p>
<p class="explanatory_text">
Litchfield Historical Society. <span class="book_title">The Noblest Study: The Legacy of America's First School of Law.</span> Permanent Exhibition, Tapping Reeve House, Litchfield, CT.
</p>
<p class="explanatory_text">
Litchfield Law School. <span class="book_title">Catalogue: Reprint of 1900.</span> Litchfield, CT: Litchfield Enquirer Press, 1900.
</p>
<p class="explanatory_text">
McKenna, Marian C. <span class="book_title">Tapping Reeve and the Litchfield Law School.</span> New York: Oceana, 1986.
</p>
<p class="explanatory_text">
Pruitt, Jr., Paul M. and David I. Durham. <span class="book_title">Commonplace Books of Law: A Selection of Law Related Notebooks from the Seventeenth Century to the Mid-Twentieth Century.</span> Tuscaloosa, AL: University of Alabama Law Library, 2005.
</p>
<p class="explanatory_text">
Sheppard, Steve, ed. <span class="book_title">The History of Legal Education in the United States.</span> 2 vols. Pasadena, CA: Salem Press, Inc., 1999.
</p>
<p class="explanatory_text">
Swanson, Eleanor, <span class="book_title">Tapping Reeve</span>,
</p>
