div.field, div.actions {
	margin-bottom: 10px;
	margin-left:205px;
}

.notice {
  color: green;
  text-align:right;
}

.alert {
	background-color:red;
	color:white;
	margin-bottom:-28px;
	margin-left:28px;
	margin-right:28px;
	padding-bottom:0.5em;
	padding-top:0.5em;
	text-align:center;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.tab_nav li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}
