/* 
	This is a companion to textarea_grow.js, which causes a text area to grow with the user's typing.
*/

.textarea_container {
    position: relative;
	margin-bottom:8px;
}

.textAreaGrow {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 95%;
	visibility: hidden;
}

.textCopy {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
    padding: 6px;   /* Same border+padding as text area. */
	padding-bottom: 1.15em; /* A bit more than one additional line of text. */
    visibility: hidden;
    width: 95%;
}

