<div class="student_data_header_sub">Contact Us</div>
Do you have more information for the Ledger?<br />
If you have family papers, objects, or any other details you would like to share, or if you would like to obtain a copy of an image for publication, please
<%= link_to "contact us", {:controller => 'home', :action => 'contact_us' }, { :class => 'contact_us_link' } %>.
